input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  width: 100%;
  display: block;
  margin-top: .35em;
  padding: .35em;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: .1875em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
}
.example {
  background: #fff;
}

.example.cardInfo__cc - num {
  float: left;
  width: 70 %;
  margin - right: .75em;
}

.example.cardInfo__cc - cvc {
  float: left;
  width: 27.5 %;
}

.example label[
for = "cc-exp"] {
  float: left;
  margin: .6125em.75em 0 0;
}

.example.cc - exp__example {
  margin - top: 0;
}

.payment {
  * zoom: 1;
  max - width: 24em;
  background: #fff;
}

.payment: before,
.payment: after {
  content: " ";
  display: table;
}

.payment: after {
  clear: both;
}

.cardInfo {
  font - size: 1.25em;
}

.cardInfo__personalDetails,
.cardInfo__cardDetails {
  border: none;
  padding: 0;
  margin: 0;
}

.cardInfo__cardDetails {
  border - top: solid 1px#eee;
  margin - top: .375em;
}

.paymentInfo__total {
  font - size: 1.25em;
  background: url(/images/lock.svg) no-repeat center left;
  -webkit-background-size: 1.5em;
  background-size: 1.5em;
  margin: .75em 0;
  padding-left: 2em;
}

.form-row {
  margin: .375em 0;
}

label {
  cursor: pointer;
  display: inline-block;
  font-size: .75em;
}

.icon-secure,.cc-num__wrap {
  position: relative;
}

.cardInfo_firstname,.cardInfo_surname {
  width: 48.75%;
}

.cardInfo_firstname {
  float: left;
}

.cardInfo_surname {
  float: right;
}

.card {
  position: absolute;
  display: block;
  right: .375em;
  top: 50%;
  margin-top: -10px;
  width: 28px;
  height: 19px;
  background: url(/images/card.svg) center center;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.cardInfo__cc-exp,.cardInfo__cc-cvc,.cc-exp__example {
  float: left;
  max-width: 4.875em;
}

.cardInfo__cc-exp {
  margin-right: .75em;
}

.cardInfo__cc-exp,.cc-exp__example {
  max-width: 5.75em;
}

.cc-num.visa+.card {
  background: url(/images/visa.png) no-repeat center center;
}
.cc-num.smartcard+.card {
  background: url(/images/smartcard.png) no-repeat center center;
}

.cc-num.amex+.card {
  background: url(/images/amex.png) no-repeat center center;
}

.cc-num.mastercard+.card {
  background: url(/images/mastercard.png) no-repeat center center;
}

.cc-num.diners+.card {
  background: url(/images/diners.png) no-repeat center center;
}

.cc-num.discover+.card {
  background: url(/images/discover.png) no-repeat center center;
}

.cardInfo__submission {
  clear: both;
  padding-top: 1.125em;
  margin-bottom: .75em;
}

input[type="email"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="url"],input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="time"],input[type="week"] {
  width: 100%;
  display: block;
  margin-top: .35em;
  padding: .35em;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: .1875em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
}

input[type="email"].identified,input[type="number"].identified,input[type="password"].identified,input[type="search"].identified,input[type="tel"].identified,input[type="text"].identified,input[type="url"].identified,input[type="color"].identified,input[type="date"].identified,input[type="datetime"].identified,input[type="datetime-local"].identified,input[type="month"].identified,input[type="time"].identified,input[type="week"].identified {
  border-color: #2ecc71;
}

input[type="email"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="url"]:focus,input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus {
  border-color: #fff;
  -webkit-box-shadow: 0 0 .1875em #3498db;
  box-shadow: 0 0 .1875em #3498db;
  outline: none;
}

input[type="email"]:focus.identified,input[type="number"]:focus.identified,input[type="password"]:focus.identified,input[type="search"]:focus.identified,input[type="tel"]:focus.identified,input[type="text"]:focus.identified,input[type="url"]:focus.identified,input[type="color"]:focus.identified,input[type="date"]:focus.identified,input[type="datetime"]:focus.identified,input[type="datetime-local"]:focus.identified,input[type="month"]:focus.identified,input[type="time"]:focus.identified,input[type="week"]:focus.identified {
  border-color: #2ecc71;
  -webkit-box-shadow: 0 0 .1875em #2ecc71;
  box-shadow: 0 0 .1875em #2ecc71;
}

input[type="submit"] {
  font-size: .875em;
  background: #2ecc71;
  border: solid 1px #29b765;
  padding: .375em .5em;
  color: #fff;
  border-radius: .1875em;
}

.cancel-link {
  font-size: .875em;
  float: right;
  color: #bbb;
  padding-top: .375em;
}

.cc-exp__outputs {
  margin: 0;
  padding: 0.35313em 0 0;
}

@media screen and (max-width: 40em) {
  .cc-exp__outputs {
    padding: 0.70625em 0 0;
    clear: both;
  }
}

@media screen and (min-width: 40em) {
  .cc-exp__outputs {
    float: right;
  }
}

.cc-exp__outputs b {
  color: #999;
}

.cc-exp__output {
  margin-right: .75em;
}

.cc-exp__output:last-of-type {
  margin-right: 0;
}

.paymentInput.identified{
  border-color:#2ecc71;
}
 
.paymentInput.identified:focus{
  border-color:#2ecc71;
  box-shadow: 0 0 .1875em #2ecc71;
}
 
.cc-num__wrap{
  position:relative;
}
 
.card{
  position:absolute;
  display:block;
  right:.375em;
  top:50%;
  margin-top:-10px;
  width:28px;
  height:19px;
  background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEwMHB4IiBoZWlnaHQ9IjEwMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPGc+CgkJPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjExMSw3Ni4yOTZjMCwyLjg0NCwyLjMwNSw1LjE0OCw1LjE0Nyw1LjE0OGg4MS44OTEgICAgYzIuODQxLDAsNS4xNDctMi4zMDUsNS4xNDctNS4xNDh2LTMyLjg5SDMuMTExVjc2LjI5NnogTTY5LjY3OSw1NS42OTdoMTUuOTE0djE1LjkxNEg2OS42NzlWNTUuNjk3eiBNOTAuMTQ5LDE3LjUwM0g4LjI1OCAgICBjLTIuODQyLDAtNS4xNDcsMi4zMDUtNS4xNDcsNS4xNDd2Ny42OTNoOTIuMTg2VjIyLjY1Qzk1LjI5NywxOS44MDgsOTIuOTksMTcuNTAzLDkwLjE0OSwxNy41MDN6Ii8+Cgk8L2c+CjwvZz4KPC9zdmc+) no-repeat center center;
  background-size: 100%;
}

.mobile{
  position:absolute;
  display:block;
  right:.375em;
  top:50%;
  margin-top:-10px;
  width:28px;
  height:19px;
  background: url('/images/visa.png') no-repeat center center;
  background-size: 100%;
}

.mobile.tigo {
  background: url(/images/smartcard.png) no-repeat center center;
}

.mobile.mtn {
  background: url(/images/amex.png) no-repeat center center;
}

.mobile.airtel {
  background: url(/images/mastercard.png) no-repeat center center;
}
.cardInfo__cc-exp,
.cardInfo__cc-cvc{
  float:left;
  max-width:4.875em;
}
 
.cardInfo__cc-exp{
  margin-right:.75em;
}
