 * {
    font-family: "Helvetica Neue", Helvetica, Arial
  }
  div {
    float: left;
   
    color: gray;
  }
.rahasi-form {
  padding: 2.825em 0 1.4125em 0;
  font-size: 1em;
  margin: 0px auto;
}
 .rahasi-form input[type="email"],.rahasi-form input[type="number"],.rahasi-form input[type="password"],.rahasi-form input[type="search"],.rahasi-form input[type="tel"],.rahasi-form input[type="text"],.rahasi-form input[type="url"],.rahasi-form input[type="color"],.rahasi-form input[type="date"],.rahasi-form input[type="datetime"],.rahasi-form input[type="datetime-local"],.rahasi-form input[type="month"],.rahasi-form input[type="time"],.rahasi-form input[type="week"] {
  width: 100%;
  display: block;
  margin-top: .35em;
  padding: .35em;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: .1875em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-font-smoothing: antialiased;
}

.rahasi-form input[type="email"].identified,.rahasi-form input[type="number"].identified,.rahasi-form input[type="password"].identified,.rahasi-form input[type="search"].identified,.rahasi-form input[type="tel"].identified,.rahasi-form input[type="text"].identified,.rahasi-form input[type="url"].identified,.rahasi-form input[type="color"].identified,.rahasi-form input[type="date"].identified,.rahasi-form input[type="datetime"].identified,.rahasi-form input[type="datetime-local"].identified,.rahasi-form input[type="month"].identified,.rahasi-form input[type="time"].identified,.rahasi-form input[type="week"].identified {
  border-color: #2ecc71;
}

.rahasi-form input[type="email"]:focus,.rahasi-form input[type="number"]:focus,.rahasi-form input[type="password"]:focus,.rahasi-form input[type="search"]:focus,.rahasi-form input[type="tel"]:focus,.rahasi-form input[type="text"]:focus,.rahasi-form input[type="url"]:focus,.rahasi-form input[type="color"]:focus,.rahasi-form input[type="date"]:focus,.rahasi-form input[type="datetime"]:focus,.rahasi-form input[type="datetime-local"]:focus,.rahasi-form input[type="month"]:focus,.rahasi-form input[type="time"]:focus,.rahasi-form input[type="week"]:focus {
  border-color: #fff;
  -webkit-box-shadow: 0 0 .1875em #3498db;
  box-shadow: 0 0 .2875em #3498db;
  outline: none;
}

.rahasi-form input[type="email"]:focus.identified,.rahasi-form input[type="number"]:focus.identified,.rahasi-form input[type="password"]:focus.identified,.rahasi-form input[type="search"]:focus.identified,.rahasi-form input[type="tel"]:focus.identified,.rahasi-form input[type="text"]:focus.identified,.rahasi-form input[type="url"]:focus.identified,.rahasi-form input[type="color"]:focus.identified,.rahasi-form input[type="date"]:focus.identified,.rahasi-form input[type="datetime"]:focus.identified,.rahasi-form input[type="datetime-local"]:focus.identified,.rahasi-form input[type="month"]:focus.identified,.rahasi-form input[type="time"]:focus.identified,.rahasi-form input[type="week"]:focus.identified {
  border-color: #2ecc71;
  -webkit-box-shadow: 0 0 .1875em #2ecc71;
  box-shadow: 0 0 .1875em #2ecc71;
}

.rahasi-form input[type="submit"] {
  font-size: .875em;
  background: #2ecc71;
  border: solid 1px #29b765;
  padding: .375em .5em;
  color: #fff;
  border-radius: .1875em;
}
button, input, optgroup, select, textarea {
  line-height: 1.2125;
  color: inherit;
  font: inherit;
  margin: 0;
}
input {
  line-height: normal;
  size:10;
}
.cancel-link {
  font-size: .875em;
  float: right;
  color: #bbb;
  padding-top: .375em;
}

/** PHONE SECTION */
.cc-mobile-num__wrap{
  position:relative;
}
.mobile{
  position:absolute;
  display:block;
  right:.375em;
  top:50%;
  margin-top:-10px;
  width:28px;
  height:19px;
  background: url('/images/visa.png') no-repeat center center;
  background-size: 100%;
}

.mobile.tigo {
  background: url(/images/tigo.png) no-repeat center center;
}

.mobile.mtn {
  background: url(/images/mtn.png) no-repeat center center;
}

.mobile.airtel {
  background: url(/images/airtel.png) no-repeat center center;
}